<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Anglais : ">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
      <link href="animations.css" rel="stylesheet" type="text/css">

    <title>English MOOC</title>
  </head>

  <body style="text-align:justify;" ng-app="ngAnimate">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>


    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/RoyalAkuma/anglais">View on GitHub</a>
          <a href="http://royalakuma.github.io/anglais/"> <img src="images/Banniere.png"></a>

          <h2 id="project_tagline"></h2>
            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/RoyalAkuma/anglais/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/RoyalAkuma/anglais/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->

    <div id="main_content_wrap" class="outer">

      <section id="main_content" class="inner">

        <h3>
			<a id="Introduction" class="anchor" href="#Introduction" aria-hidden="true">
				<span aria-hidden="true" class="octicon octicon-link"></span>
			</a>
		MOOC : Did you say "Images" ?</h3>

<p>Hello and Welcome on our MOOC about Images !! <br />
A MOOC is a Massive Open Online Course made to teach people about a subject on the web with multimedia contents!
Everyday we see tons of different images for instance advertisement, photographs and as long as you can see, everything you see are images !
On computer we are able to change and apply modification to them throught different technique and rendering.
This course is about Images !
</p>
<p>We have prepared four courses about Images and you are free to jump from one to another thanks to the bar that is on top of every part !
Each part is made of a multimedia content, a written text about the part and finaly a short quizz about the course you just read !
</p>

<br />
<br />
<h3>
<a id="FirCours" class="anchor" href="#creating-pages-manually" aria-hidden="true">
  <span aria-hidden="true" class="octicon octicon-link"></span>
</a> Choose your Course !
<div id="menu">
  <ul id="onglets">
    <li class="active"><a href="#FirCours"> First Course </a></li>
    <li><a href="#SecCours"> Second Course  </a></li>
    <li><a href="#ThiCours"> Third Course  </a></li>
    <li><a href="#FouCours"> Fourth Course  </a></li>
  </ul>
</div>
</h3>

<!-- 1st Part ----------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
    <!-- LES COURS text du cours 1 -->
    <h3>
    <a class="anchor" aria-hidden="true">
    <span aria-hidden="true" class="octicon octicon-link"></span>
    </a>
    <!-- Modifier le Titre -->
    First Course : What is a picture?
    </h3>
    <!-- LA VIDEO du cours 1-->
      <br />
      <br />
        <iframe width="640" height="360" src="https://www.youtube.com/embed/VpYMv56mu6g?rel=0" frameborder="0" allowfullscreen></iframe>
      <br />


      <p>Post haec Gallus Hierapolim profecturus ut expeditioni specie tenus adesset, Antiochensi plebi suppliciter obsecranti ut inediae dispelleret metum, quae per multas difficilisque causas adfore iam sperabatur, non ut mos est principibus, quorum diffusa potestas localibus subinde medetur aerumnis, disponi quicquam statuit vel ex provinciis alimenta transferri conterminis, sed consularem Syriae Theophilum prope adstantem ultima metuenti multitudini dedit id adsidue replicando quod invito rectore nullus egere poterit victu.</p>
      <p>Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo dedecore temptasse aliquando dicitur Gallienus, et adhibitis paucis clam ferro succinctis vesperi per tabernas palabatur et conpita quaeritando Graeco sermone, cuius erat inpendio gnarus, quid de Caesare quisque sentiret. et haec confidenter agebat in urbe ubi pernoctantium luminum claritudo dierum solet imitari fulgorem. postremo agnitus saepe iamque, si prodisset, conspicuum se fore contemplans, non nisi luce palam egrediens ad agenda quae putabat seria cernebatur. et haec quidem medullitus multis gementibus agebantur.</p>
      <p>Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem huius ordinis dignitatemque rei publicae tuis vel doloribus vel suspicionibus anteferre. Ille quidem fructum omnis ante actae vitae hodierno die maximum cepit, cum summo consensu senatus, tum iudicio tuo gravissimo et maximo. Ex quo profecto intellegis quanta in dato beneficio sit laus, cum in accepto sit tanta gloria.</p>


    <!-- QCM -->


    <h3>
      <a class="anchor" aria-hidden="true">
        <span aria-hidden="true" class="octicon octicon-link"></span>
      </a>
    Let's have a little test ! </h3>

<!-- Model pour les question -->
    <p>
    1st Question : What is a pokemon ?</p> <br />
    <p>Choices : 1 , 2 , 3</p> <br />
    Answer : <input type="checkbox" ng-model="checked1" aria-label="Toggle ngShow"><br/>
    <div>
      <div class="check-element animate-hide" ng-show="checked1">
       The answer is : 1
      </div>
    </div>

<!-- Model pour les question -->
    <p>
    1st Question : What is a pokemon ?</p> <br />
    <p>Choices : 1 , 2 , 3</p> <br />
    Answer : <input type="checkbox" ng-model="checked2" aria-label="Toggle ngShow"><br/>
    <div>
      <div class="check-element animate-hide" ng-show="checked2">
        The answer is : 1
      </div>
        </div>

        <!-- Model pour les question -->
                <p>
                1st Question : What is a pokemon ?</p> <br />
                <p>Choices : 1 , 2 , 3</p> <br />
                Answer : <input type="checkbox" ng-model="checked3" aria-label="Toggle ngShow"><br/>
                <div>
                  <div class="check-element animate-hide" ng-show="checked3">
                   The answer is : 1
                  </div>
                </div>


    <br />
    <br />


<!-- 2nd Part ----------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
      <!-- LES COURS text du cours 2 -->

      <h3>
      <a id="SecCours" class="anchor" aria-hidden="true">
      <span aria-hidden="true" class="octicon octicon-link"></span>
      </a>


      <div id="menu">
        <ul id="onglets">
          <li><a href="#FirCours"> First Course </a></li>
          <li class="active"><a href="#SecCours"> Second Course  </a></li>
          <li><a href="#ThiCours"> Third Course  </a></li>
          <li><a href="#FouCours"> Fourth Course  </a></li>
        </ul>
      </div>




            <!-- Modifier le Titre -->
    Second Course : Filters !
    </h3>

    <!-- LA VIDEO du cours 2-->
    <br />
    <br />
    <iframe width="640" height="360" src="https://www.youtube.com/embed/VpYMv56mu6g?rel=0" frameborder="0" allowfullscreen></iframe>

    <p>What are Filters ?</p>
    <p>They are a way to change images by applying modification on the image structure.
      Thanks to that we are able to fully change the rendering of an image. Making it more blurry, edgy or playing with the shades and light to make it looks better </p>
    <p>Now a days Filters are usually used by people directly on their phone using apps. Those apps add a calculation algorithm on a photograph to render a special effect.
      On a more professional way they are usually used by photograper or image specialists. They usually used computers with software such as photoshop.
      Filters can be explain also in another way like applying a kind of transparent images with a pattern or a color to change the original picture and add an effect. </p>

      <p> For example this is what an image can become after applying a light red filter</p>
    <a><img src="images/1.png"><img src="images/2.png"></a>

      <p> Those kind of filter work by adding a red images on the first one and fusioning the colors. It is exactly the way you do it by applying a transparent
        red paper on your image </p>

      <p> Gauss filter :</p>
      <p> It is a filter to make your image a bit more flat and blurry :</p>
      <a><img src="images/3.png"></a><br />

      <p> Median filter : Noise reduction</p>
      <p> It is a filter to make your image a bit more sharp and neet :</p>
      <a><img src="images/4.png"></a><br />

      <p> A few example of Filters used on photographs : </p>
      <a><img src="images/5.jpg"></a><
      <a><img src="images/6.jpg"></a>
      <a><img src="images/7.jpg"></a><br />
      <!-- QCM -->


      <h3>
      <a class="anchor" aria-hidden="true">
      <span aria-hidden="true" class="octicon octicon-link"></span>
      </a>
      Let's have a little test ! </h3>

      <!-- Model pour les question -->
      <p>
      1st Question : What is a filter ?</p>
      <p>Choices : a cigarette , a way to modify an image , a photograph</p>
      Answer : <input type="checkbox" ng-model="checked4" aria-label="Toggle ngShow">
      <div>
        <div class="check-element animate-hide" ng-show="checked4">
          The answer is : a way to modify an image
        </div>
      </div>
      <br />

          <!-- Model pour les question -->

      <p>2nd Question : What is noise reduction ?</p>
      <p>Choices : a Headphone , a way to make an image looks sharper  , a chirugical operation</p>
      Answer : <input type="checkbox" ng-model="checked5" aria-label="Toggle ngShow">
      <div>
        <div class="check-element animate-hide" ng-show="checked5">
          The answer is : a way to make an image looks sharper
        </div>
      </div>
      <br />

          <!-- Model pour les question -->
      <p>3rd Question : Who usually use filters ?</p>
        <p>Choices : Advertisers , Photographs , Teenagers </p>
          Answer : <input type="checkbox" ng-model="checked6" aria-label="Toggle ngShow">
              <div>
                <div class="check-element animate-hide" ng-show="checked6">
                The answer is : all of them 
                </div>
              </div>
      <br />
      <br />
<!-- 3rd Part ----------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->



        <!-- LES COURS text du cours 3 -->

        <h3>
        <a id="ThiCours" class="anchor" aria-hidden="true">
        <span aria-hidden="true" class="octicon octicon-link"></span>
        </a>
        <!-- Modifier le Titre -->

        <div id="menu">
          <ul id="onglets">
            <li><a href="#FirCours"> First Course </a></li>
            <li><a href="#SecCours"> Second Course  </a></li>
            <li class="active"><a href="#ThiCours"> Third Course </a></li>
            <li><a href="#FouCours"> Fourth Course  </a></li>
          </ul>
        </div>
        Third Course : Operations between pictures


        </h3>

        <!-- LA VIDEO du cours 3-->
        <br />
        <br />
        <iframe width="640" height="360" src="https://www.youtube.com/embed/VpYMv56mu6g?rel=0" frameborder="0" allowfullscreen></iframe>


        <p>Post haec Gallus Hierapolim profecturus ut expeditioni specie tenus adesset, Antiochensi plebi suppliciter obsecranti ut inediae dispelleret metum, quae per multas difficilisque causas adfore iam sperabatur, non ut mos est principibus, quorum diffusa potestas localibus subinde medetur aerumnis, disponi quicquam statuit vel ex provinciis alimenta transferri conterminis, sed consularem Syriae Theophilum prope adstantem ultima metuenti multitudini dedit id adsidue replicando quod invito rectore nullus egere poterit victu.</p>
        <p>Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo dedecore temptasse aliquando dicitur Gallienus, et adhibitis paucis clam ferro succinctis vesperi per tabernas palabatur et conpita quaeritando Graeco sermone, cuius erat inpendio gnarus, quid de Caesare quisque sentiret. et haec confidenter agebat in urbe ubi pernoctantium luminum claritudo dierum solet imitari fulgorem. postremo agnitus saepe iamque, si prodisset, conspicuum se fore contemplans, non nisi luce palam egrediens ad agenda quae putabat seria cernebatur. et haec quidem medullitus multis gementibus agebantur.</p>
        <p>Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem huius ordinis dignitatemque rei publicae tuis vel doloribus vel suspicionibus anteferre. Ille quidem fructum omnis ante actae vitae hodierno die maximum cepit, cum summo consensu senatus, tum iudicio tuo gravissimo et maximo. Ex quo profecto intellegis quanta in dato beneficio sit laus, cum in accepto sit tanta gloria.</p>




        <!-- QCM 3-->


        <h3>
        <a class="anchor" aria-hidden="true">
        <span aria-hidden="true" class="octicon octicon-link"></span>
        </a>
        Let's have a little test ! </h3>


        <!-- Model pour les question -->
            <p>
            1st Question : What is a pokemon ?</p> <br />
            <p>Choices : 1 , 2 , 3</p> <br />
            Answer : <input type="checkbox" ng-model="checked7" aria-label="Toggle ngShow"><br/>
            <div>
              <div class="check-element animate-hide" ng-show="checked7">
               The answer is : 1
              </div>
            </div>
          <br />

            <!-- Model pour les question -->
                <p>
                1st Question : What is a pokemon ?</p> <br />
                <p>Choices : 1 , 2 , 3</p> <br />
                Answer : <input type="checkbox" ng-model="checked8" aria-label="Toggle ngShow"><br/>
                <div>
                  <div class="check-element animate-hide" ng-show="checked8">
                   The answer is : 1
                  </div>
                </div>
          <br />

                <!-- Model pour les question -->
                    <p>
                    1st Question : What is a pokemon ?</p> <br />
                    <p>Choices : 1 , 2 , 3</p> <br />
                    Answer : <input type="checkbox" ng-model="checked9" aria-label="Toggle ngShow"><br/>
                    <div>
                      <div class="check-element animate-hide" ng-show="checked9">
                       The answer is : 1
                      </div>
                    </div>

        <br />
        <br />
<!-- 4rth Part ----------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------->
          <!-- LES COURS text du cours 4 -->

          <h3>
          <a id="FouCours" class="anchor" aria-hidden="true">
          <span aria-hidden="true" class="octicon octicon-link"></span>
          </a>

          <div id="menu">
            <ul id="onglets">
              <li><a href="#FirCours"> First Course </a></li>
              <li><a href="#SecCours"> Second Course  </a></li>
              <li><a href="#ThiCours"> Third Course  </a></li>
              <li class="active"><a href="#FouCours"> Fourth Course  </a></li>
            </ul>
          </div>



          Forth  Course : Objects modeling
          </h3>

          <!-- LA VIDEO du cours 4-->
          <br />
          <br />
          <iframe width="640" height="360" src="https://www.youtube.com/embed/VpYMv56mu6g?rel=0" frameborder="0" allowfullscreen></iframe>

          <!-- Texte du Cours 4 -->


          <p>Post haec Gallus Hierapolim profecturus ut expeditioni specie tenus adesset, Antiochensi plebi suppliciter obsecranti ut inediae dispelleret metum, quae per multas difficilisque causas adfore iam sperabatur, non ut mos est principibus, quorum diffusa potestas localibus subinde medetur aerumnis, disponi quicquam statuit vel ex provinciis alimenta transferri conterminis, sed consularem Syriae Theophilum prope adstantem ultima metuenti multitudini dedit id adsidue replicando quod invito rectore nullus egere poterit victu.</p>
          <p>Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo dedecore temptasse aliquando dicitur Gallienus, et adhibitis paucis clam ferro succinctis vesperi per tabernas palabatur et conpita quaeritando Graeco sermone, cuius erat inpendio gnarus, quid de Caesare quisque sentiret. et haec confidenter agebat in urbe ubi pernoctantium luminum claritudo dierum solet imitari fulgorem. postremo agnitus saepe iamque, si prodisset, conspicuum se fore contemplans, non nisi luce palam egrediens ad agenda quae putabat seria cernebatur. et haec quidem medullitus multis gementibus agebantur.</p>
          <p>Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem huius ordinis dignitatemque rei publicae tuis vel doloribus vel suspicionibus anteferre. Ille quidem fructum omnis ante actae vitae hodierno die maximum cepit, cum summo consensu senatus, tum iudicio tuo gravissimo et maximo. Ex quo profecto intellegis quanta in dato beneficio sit laus, cum in accepto sit tanta gloria.</p>


          <!-- QCM -->


          <h3>
          <a class="anchor" aria-hidden="true">
          <span aria-hidden="true" class="octicon octicon-link"></span>
          </a>
          Let's have a little test ! </h3>

          <!-- Model pour les question -->
              <p>
              1st Question : What is a pokemon ?</p> <br />
              <p>Choices : 1 , 2 , 3</p> <br />
              Answer : <input type="checkbox" ng-model="checked10" aria-label="Toggle ngShow"><br/>
              <div>
                <div class="check-element animate-hide" ng-show="checked10">
                 The answer is : 1
                </div>
              </div>
          <br />
              <!-- Model pour les question -->
                  <p>
                  1st Question : What is a pokemon ?</p> <br />
                  <p>Choices : 1 , 2 , 3</p> <br />
                  Answer : <input type="checkbox" ng-model="checked11" aria-label="Toggle ngShow"><br/>
                  <div>
                    <div class="check-element animate-hide" ng-show="checked11">
                     The answer is : 1
                    </div>
                  </div>
          <br />

                  <!-- Model pour les question -->
                      <p>
                      1st Question : What is a pokemon ?</p> <br />
                      <p>Choices : 1 , 2 , 3</p> <br />
                      Answer : <input type="checkbox" ng-model="checked12" aria-label="Toggle ngShow"><br/>
                      <div>
                        <div class="check-element animate-hide" ng-show="checked12">
                         The answer is : 1
                        </div>
                      </div>
          <br />




                        <br />
          <br />

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Anglais maintained by <a href="https://github.com/RoyalAkuma">RoyalAkuma</a></p>
        <p>Project conducted by J.Clayton, N.Exposito, S.Kone, N.Messaoud</p>
        <p class="copyright">Source <a href="http://dept-info.labri.fr/ENSEIGNEMENT/imageson/">Imageson</a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
</html>
